{% extends "index.html" %}
{% block content %}
<div>
    <div class="view_form">
        <h1>{{dojo.name}} Ninja</h1>
        <table class="table">
            <thead>
                <tr>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Age</th>
                </tr>
            </thead>
            <tbody>
                {% for ninja in dojo.ninjas %}
                <tr class="table-active">
                    <td>{{ninja.first_name}}</td>
                    <td>{{ninja.last_name}}</td>
                    <td>{{ninja.age}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <button><a href="/">HOME</a></button>
</div>

{% endblock %}